<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
        id="cordova-plugin-screenshot"
        version="1.0.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ScreenshotDetector</name>
    <js-module name="ScreenshotDetector" src="www/ScreenshotDetector.js">
        <clobbers target="ScreenshotDetector" />
    </js-module>
    
    <!-- Android -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ScreenshotDetector">
                <param name="android-package" value="cordova.plugin.screenshot.ScreenshotDetector" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file src="src/android/ScreenshotDetector.java" target-dir="src/cordova/plugin/screenshot" />
    </platform>
    
    <!-- iOS -->
	<!--
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="ScreenshotDetector">
                <param name="ios-package" value="ScreenshotDetector" />
            </feature>
        </config-file>
        <source-file src="src/ios/ScreenshotDetector.m" />
        <header-file src="src/ios/ScreenshotDetector.h" />
    </platform>
	-->
</plugin>