<plugin id="cordova-plugin-screenshot-listener" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ScreenshotListener</name>
    <js-module src="www/ScreenshotListener.js" name="ScreenshotListener">
        <clobbers target="ScreenshotListener" />
    </js-module>

    <platform name="android">
        <source-file src="src/android/ScreenshotListener.java" target-dir="src/com/example/screenshotlistener" />
        <config-file target="AndroidManifest.xml" parent="application">
        </config-file>
        <config-file target="config.xml" parent="/*">
            <feature name="ScreenshotListener">
                <param name="android-package" value="com.example.screenshotlistener.ScreenshotListener" />
            </feature>
        </config-file>
    </platform>

    <platform name="ios">
        <source-file src="src/ios/ScreenshotListener.m" />
        <config-file target="config.xml" parent="/*">
            <feature name="ScreenshotListener">
                <param name="ios-package" value="ScreenshotListener" />
            </feature>
        </config-file>
    </platform>

    <uses-permission android:name="android.permission.DETECT_SCREEN_CAPTURE" />
</plugin>
